@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Doto:wght,ROND@100..900,100&family=League+Spartan:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: conic-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-color: #000000;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.bub {
  display: block;
  position: absolute;
  width: 15vw !important;
  padding-left: 60vw;
  padding-top: 10vh;
  opacity: 0.2;
  pointer-events: none;
}

.bub2 {
  display: block;
  position: absolute;
  width: 9vw !important;
  padding-left: 60vw;
  padding-top: 10vh;
  opacity: 0.1;
  pointer-events: none;
}

.page{
  display: grid;
  grid-template-areas:
  "Line1" 
  "news"
  "Line2"
  "footer";
  grid-template-columns: 3fr;
  gap: 1vw;
  padding: 5vw;
}

.page > div.contents{
  grid-area: Line1;
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 5vw;
  font-weight: 700;
  color: #ffffff;
  margin-top: 10vw;
  padding-right: 3vw;
  background-image: url("../assets/erth.jpg");
  height: 60vh;
  background-size: cover;
  padding-top: 10vh;
  padding-left: 2vw;
  border-radius: 10px;
}

.page > div.line2{
  grid-area: Line2;
  font-size: 2vh;
  font-weight: 200;
  font-variation-settings:"ROND" 0;
  margin-top: 10vw;
  padding-right: 3vw;
}

.foot{
  margin-top: auto 0;
  display: grid;
  grid-template-areas: 
  "imgg ... pri"
  "sn sn pri"
  "cw cw cw";
  grid-template-columns: 1fr 4fr 2fr;
  gap: 1vw;
  background: rgb(9, 0, 0);
  border-radius: 0px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 100vw;
}

.foot > img.imgg{
  grid-area: imgg;
}

.foot > div.sn{
  grid-area: sn;
  color: white;
  padding-left: 2vw;
  font-family: "Doto", serif;
  font-size: 4vh;
  font-weight: 800;
  font-style: normal;
  vertical-align: middle;
}

.foot > div.pri{
  grid-area: pri;
  color: white;
  padding-left: 2vw;
  padding-top: 5vw;
  font-family: "League Spartan", serif;
  font-size: 1.5vw;
  font-weight: 400;
  font-style: normal;
}

.foot > div.footer{
  grid-area: cw;
  font-size: 1.5vw;
  color: #ffffff;
  font-weight: 150;
  padding-left: 2vw;
  padding-bottom: 1vw;
}


.logo {
    background-color: black;
    position: absolute;
    display: flex;
    padding-top: 10%;
    color: black; 
    padding-left: 2%;
}

.hlogo {
  width: 20vw;
  padding-left: 3vw;
}

svg path{
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 1;
    stroke-dasharray: 10;
    stroke-dashoffset: 20;
    animation: textAnimation 5s ease-in-out 1 forwards;
}

@keyframes textAnimation {
    0% {
        stroke-dashoffset: 20;
    }
    80% {
        fill: transparent;
    }
    100% {
        stroke-width: 0;
        stroke-dashoffset: 0;
        fill: rgb(255, 255, 255);
    }
}

.headd {
  position: fixed;
  background: rgba(9, 0, 0, 0.438);
  box-shadow: 0 8px 32px 0 rgba(36, 36, 36, 0.37);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 0px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  vertical-align: middle;
  width: 100vw;
  height: 20vw;
  padding-top: 1vw;
  padding-left: 1vw;
  padding-bottom: 1vw;
  padding-right: 1vw;
  font-size: 4vw;
  display: flex;
  align-items: center;
}

button {
  padding: 2vw;
  border: transparent;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4vw;
  z-index: 1;
  font-family: inherit;
  margin-right: 1vw;
  border-radius: 2px;
}

.link {
  cursor: crosshair;
  color: white;
}

.menu {
  margin-left: auto;
  font-size: 2vw;
}
